<div class="container card p-10">
  <div class="image" [style.background-image]="'url(' + musica.album.imagemUrl + ')'" ></div>
  <div class="controles">
    <span> {{musica.titulo }} </span>
    <div class="botoes">
      <fa-icon 
        class="icones"
        [icon]="anteriorIcone" 
        (click)="voltarMusica()"
        >
      </fa-icon>
      <fa-icon
        class="icones"
      [icon]="playIcone"
      (click)="playMusica()"
      >
      </fa-icon>
      <fa-icon
        class="icones"
      [icon]="stopIcone"
      (click)="pausarMusica()">

      </fa-icon>
      <fa-icon 
        class="icones"
        [icon]="proximoIcone"
        (click)="proximaMusica()"
        >
      </fa-icon>
    </div>
  </div>
</div>