<div class="menus flex">
    <div class="image-container flex flex-center">
        <img src="assets/images/spotify-logo.png" alt="Logo Spotify">
    </div>
<div class="menu-container flex opcoes">
    <app-botao-menu [descricao]="'Home'">
        <fa-icon [icon]="homeIcone"></fa-icon>

    </app-botao-menu>
    <app-botao-menu [descricao]="'Pesquisar'">
        <fa-icon [icon]="pesquisarIcone"></fa-icon>

    </app-botao-menu>
    <app-botao-menu [descricao]="'Artista'">
        <fa-icon [icon]="artistaIcone"></fa-icon>

    </app-botao-menu>
</div>
</div>

<div class="usuario-info">

</div>