/*

$cor-primaria: #37AB00;
$cor-fundo: #FBFEF4;
$cor-fundo2: #FFF;
*/

$cor-primaria: #3ec400;
$cor-fundo: #686868;
$cor-fundo2: #282828;

$preto-transparent-30: #0000004D;
$preto-transparent-20: #00000033;
$preto-transparent-03: #00000008;
$preto-transparent-70: #000000b3;

$branco: #FFFFFF;
$branco-transparente-70: #FFFFFFb3;